.grid_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
}

.widiget {
  padding: 10px;
  background: var(--color-white);
  height: 100px;
  box-shadow: 1px 2px 13px #b8b4b46e;
  display: flex;
  gap: 2rem;
  color: #ffff;
}
.widiget .card_icon {
  font-size: 30px;
  justify-self: start;
  color: var(--color-white);
}
.widiget .card_number {
  font-weight: bold;
  font-size: 25px;
}
.widiget .card_title {
  font-size: 12px;
}
.widiget:nth-child(1) {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}
.widiget:nth-child(2) {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}
.widiget:nth-child(3) {
  background-image: linear-gradient(135deg, #ffd3a5 10%, #fd6585 100%);
}
.widiget:nth-child(4) {
  background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);
}
